DB_USER=username
DB_PASSWORD=password
DB_NAME=db_name
DB_HOST=postgres # use 'localhost' if you are not using docker

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${HOST}:5432/${DB_NAME}?schema=public"

ACCESS_TOKEN_KEY=
ACCESS_TOKEN_TIME='7d'
REFRESH_TOKEN_KEY=
REFRESH_TOKEN_TIME='7d'

API_PORT=3000