DB_USER=username
DB_PASSWORD=password
DB_NAME=db_name
DB_HOST=postgres # use 'localhost' if you are not using docker

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}?schema=public"

ANY_ORIGIN=true
COOKIE_SAME_SITE=none
COOKIE_SECURE=true

MODE=development # use 'production' if you dont want to run swagger api
# swagger will be available in HOST:PORT:api/docs (http://localhost:3000/api/docs)


ACCESS_TOKEN_KEY=
ACCESS_TOKEN_TIME='7d'
REFRESH_TOKEN_KEY=
REFRESH_TOKEN_TIME='7d'

API_PORT=3000

MAX_REFRESH_TOKEN_AGE=604800000

ACCOMMODATION_MAX_PRICE=2147483647
ACCOMMODATION_MAX_ROOMS=100
ACCOMMODATION_MAX_PEOPLE=500

FRONTEND_URL=
MAILER_HOST=
MAILER_USER=
MAILER_PASS=
MAILER_CALLBACK_URL=${FRONTEND_URL}/path
EMAIL_EXPIRATION_TIME_MS=

YOUR_STRIPE_SECRET_KEY=
YOUR_STRIPE_API_VERSION='2023-10-16'